<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustAppToken</key>
	<string>$(ADJUST_APP_TOKEN)</string>
	<key>AdjustEventClickMonthly</key>
	<string>$(ADJUST_CLICK_MONTHLY)</string>
	<key>AdjustEventClickWeekly</key>
	<string>$(ADJUST_CLICK_WEEKLY)</string>
	<key>AdjustEventClickYearly</key>
	<string>$(ADJUST_CLICK_YEARLY)</string>
	<key>AdjustEventFailure</key>
	<string>$(ADJUST_FAILURE_EVENT_TOKEN)</string>
	<key>AdjustEventOpenBilling</key>
	<string>$(ADJUST_OPEN_BILLING_EVENT_TOKEN)</string>
	<key>AdjustEventPush</key>
	<string>$(ADJUST_PUSH_EVENT_TOKEN)</string>
	<key>AdjustEventRestore</key>
	<string>$(ADJUST_RESTORE_EVENT_TOKEN)</string>
	<key>AdjustEventSuccess</key>
	<string>$(ADJUST_SUCCESS_EVENT_TOKEN)</string>
	<key>AdjustEventTapToConnect</key>
	<string>$(ADJUST_TAP_TO_CONNECT_EVENT_TOKEN)</string>
	<key>AdjustEventVPNConnected</key>
	<string>$(ADJUST_VPN_CONNECTED_EVENT_TOKEN)</string>
	<key>AdjustEventVPNDisconnected</key>
	<string>$(ADJUST_VPN_DISCONNECTED_EVENT_TOKEN)</string>
	<key>AdjustURLScheme</key>
	<string>$(ADJUST_URL_SCHEME)</string>
	<key>ApiBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>ApiKey</key>
	<string>$(API_KEY)</string>
	<key>AppSharedKey</key>
	<string>$(APP_SHARED_KEY)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>secureVPN</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DEBUGiTunesURL</key>
	<string>$(DEBUG_ITUNES_URL)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1944147142676857~7913954041</string>
	<key>InterstitialKey</key>
	<string>$(GAD_INTERSTITIAL_KEY)</string>
	<key>InterstitialKeyTest</key>
	<string>$(GAD_INTERSTITIAL_KEY_TEST)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MonthlyIAP</key>
	<string>$(IAP_MONTHLY_KEY)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Allow tracking to get personalized ads in this app and ads for our services in other apps</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>SharedSecretKey</key>
	<string>$(SHARED_SECRET_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-BoldItalic.otf</string>
		<string>MontserratAlternates-ExtraBoldItalic.otf</string>
		<string>MontserratAlternates-ExtraLight.otf</string>
		<string>MontserratAlternates-ExtraLightItalic.otf</string>
		<string>MontserratAlternates-Italic.otf</string>
		<string>MontserratAlternates-ExtraBold.otf</string>
		<string>MontserratAlternates-Light.otf</string>
		<string>MontserratAlternates-BoldItalic.otf</string>
		<string>MontserratAlternates-LightItalic.otf</string>
		<string>MontserratAlternates-BlackItalic.otf</string>
		<string>MontserratAlternates-Medium.otf</string>
		<string>MontserratAlternates-MediumItalic.otf</string>
		<string>MontserratAlternates-Bold.otf</string>
		<string>MontserratAlternates-Regular.otf</string>
		<string>MontserratAlternates-SemiBold.otf</string>
		<string>MontserratAlternates-Black.otf</string>
		<string>MontserratAlternates-SemiBoldItalic.otf</string>
		<string>MontserratAlternates-Thin.otf</string>
		<string>MontserratAlternates-ThinItalic.otf</string>
		<string>Montserrat-ThinItalic.otf</string>
		<string>Montserrat-ExtraBoldItalic.otf</string>
		<string>Montserrat-ExtraLightItalic.otf</string>
		<string>Montserrat-Italic.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-BlackItalic.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-LightItalic.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-MediumItalic.otf</string>
		<string>Montserrat-ThinItalic.otf</string>
		<string>MontserratAlternates-BlackItalic.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>MontserratAlternates-Black.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-Black.otf</string>
		<string>Montserrat-SemiBoldItalic.otf</string>
		<string>Montserrat-Bold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>WeeklyIAP</key>
	<string>$(IAP_WEEKLY_KEY)</string>
	<key>YearlyIAP</key>
	<string>$(IAP_YEARLY_KEY)</string>
	<key>flagApi</key>
	<string>$(API_FLAG_URL)</string>
	<key>iTunesURL</key>
	<string>$(ITUNES_URL)</string>
	<key>privacyPolicy</key>
	<string>$(PRIVACY_POLICY_URL)</string>
	<key>termsAndConditions</key>
	<string>$(TERMS_CONDITION_URL)</string>
</dict>
</plist>
